*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
}

@media (width < 500px){
    h1{
        font-size: 45px;
    }
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 10px;
}

header img{
    height: 60px;
}

.biology{
    background: url(biology.jpg) no-repeat right;
    color: white;
}

.serbian{
    background: url(serbian.jpg) no-repeat bottom left fixed;
    background-position: top center;
    background-size: cover;
    color: white;
}

.music{
    background: url(music.jpg) no-repeat bottom center fixed;
    background-position: top center;
    background-size: cover;
    color: white;
}

.geography{
    background: url(geography.jpg) no-repeat left;
    color: white;
}


div.gallery {
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
div.gallery:hover {
    box-shadow: 0 4px 8px 0 rgba(58, 126, 210, 0.2), 0 6px 20px 0 rgba(58, 126, 210, 0.19);
    transition: all 0.2s ease-in-out;
}
  
div.gallery img{
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: black;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



#questions *{
    margin: 5px;
    font-size: large;
}


.content{
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

.content textarea{
    font-size: x-large;
    text-align: center;
    max-width: 90%;
    border: none;
}

.content h2{
    margin-bottom: 50px;
}

.content *{
    margin-bottom: 15px;
}

#next{
    height: 2rem;
    width: 200px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: large;
}

#next:hover{
    border: 1px solid #777;
}


footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
}

footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

footer p{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px;
    color: #777;
}

.media .fa, .fa-solid{
    color: #3a7ed2;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}